# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [89]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [91]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [94]:
spaceship.shape

(8693, 14)

**Check for data types**

In [97]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [99]:
spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [101]:
spaceship.dropna(inplace=True)
spaceship

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [103]:
spaceship['cabin_first_letter'] = spaceship['Cabin'].str[0]
spaceship

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,cabin_first_letter
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,A
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,G
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,G
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,E
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,E

- Drop PassengerId and Name

In [105]:
df = spaceship.drop(columns=["Name", "PassengerId"])
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,cabin_first_letter
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,B
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,F
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,A
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,A
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,A
8689,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False,G
8690,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,G
8691,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,E
8692,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,E

- For non-numerical columns, do dummies.

In [109]:
df_dummies = pd.get_dummies(df, columns=["HomePlanet", "Destination"], drop_first=True)
df_dummies

,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,cabin_first_letter,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,False,B/0/P,39.0,False,0.0,0.0,0.0,0.0,0.0,False,B,True,False,False,True
1,False,F/0/S,24.0,False,109.0,9.0,25.0,549.0,44.0,True,F,False,False,False,True
2,False,A/0/S,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,A,True,False,False,True
3,False,A/0/S,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,A,True,False,False,True
4,False,F/1/S,16.0,False,303.0,70.0,151.0,565.0,2.0,True,F,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,A/98/P,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,A,True,False,False,False
8689,True,G/1499/S,18.0,False,0.0,0.0,0.0,0.0,0.0,False,G,False,False,True,False
8690,False,G/1500/S,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,G,False,False,False,True
8691,False,E/608/S,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,E,True,False,False,False
8692,False,E/608/S,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,E,True,False,False,True

**Perform Train Test Split**

In [115]:
features = df.drop("Transported", axis = 1)
target = df["Transported"]

In [117]:
from sklearn.model_selection import train_test_split

In [119]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state = 0)

display(X_train)
display(X_test)
display(y_train)
display(y_test)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,cabin_first_letter
3432,Mars,True,E/220/P,TRAPPIST-1e,32.0,False,0.0,0.0,0.0,0.0,0.0,E
7312,Earth,True,G/1267/S,TRAPPIST-1e,4.0,False,0.0,0.0,0.0,0.0,0.0,G
2042,Earth,False,F/437/P,TRAPPIST-1e,30.0,False,0.0,236.0,0.0,1149.0,0.0,F
4999,Mars,False,E/332/P,TRAPPIST-1e,17.0,False,13.0,0.0,565.0,367.0,1.0,E
5755,Earth,True,G/992/S,TRAPPIST-1e,26.0,False,0.0,0.0,0.0,0.0,0.0,G
...,...,...,...,...,...,...,...,...,...,...,...,...
6518,Mars,False,E/438/P,TRAPPIST-1e,53.0,False,0.0,0.0,0.0,0.0,0.0,E
4317,Earth,False,F/945/P,55 Cancri e,36.0,False,0.0,0.0,0.0,725.0,2.0,F
2214,Europa,False,D/81/S,TRAPPIST-1e,36.0,False,0.0,4756.0,0.0,7818.0,96.0,D
3468,Europa,False,D/118/S,TRAPPIST-1e,34.0,True,0.0,4.0,0.0,685.0,1779.0,D
3642,Europa,False,D/128/S,TRAPPIST-1e,14.0,False,2.0,881.0,0.0,578.0,214.0,D

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,cabin_first_letter
2453,Mars,True,F/545/P,55 Cancri e,50.0,False,0.0,0.0,0.0,0.0,0.0,F
1334,Earth,True,G/218/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,G
8272,Earth,True,G/1424/S,55 Cancri e,15.0,False,0.0,0.0,0.0,0.0,0.0,G
5090,Earth,True,G/875/P,PSO J318.5-22,52.0,False,0.0,0.0,0.0,0.0,0.0,G
4357,Europa,False,B/153/P,TRAPPIST-1e,62.0,True,0.0,1633.0,0.0,1742.0,0.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...
85,Earth,False,G/9/P,TRAPPIST-1e,19.0,False,0.0,0.0,670.0,1.0,34.0,G
6816,Europa,False,C/264/S,TRAPPIST-1e,37.0,False,300.0,3434.0,0.0,1.0,171.0,C
5926,Europa,False,B/245/S,TRAPPIST-1e,43.0,False,2.0,5329.0,0.0,7.0,0.0,B
3793,Earth,True,G/664/P,PSO J318.5-22,14.0,False,0.0,0.0,0.0,0.0,0.0,G
6640,Europa,True,D/213/S,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,0.0,0.0,D

3432    False
7312     True
2042    False
4999    False
5755     True
        ...
6518    False
4317    False
2214    False
3468    False
3642    False
Name: Transported, Length: 5284, dtype: bool

2453     True
1334    False
8272     True
5090    False
4357     True
        ...
85      False
6816     True
5926     True
3793     True
6640     True
Name: Transported, Length: 1322, dtype: bool

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [123]:
from sklearn.neighbors import KNeighborsClassifier

In [125]:
knn = KNeighborsClassifier(n_neighbors = 3)

In [129]:
knn.fit(X_train, y_train)

ValueError: could not convert string to float: 'Mars'

- Evaluate your model's performance. Comment it

In [87]:
X_train

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,cabin_first_letter
3432,Mars,True,E/220/P,TRAPPIST-1e,32.0,False,0.0,0.0,0.0,0.0,0.0,E
7312,Earth,True,G/1267/S,TRAPPIST-1e,4.0,False,0.0,0.0,0.0,0.0,0.0,G
2042,Earth,False,F/437/P,TRAPPIST-1e,30.0,False,0.0,236.0,0.0,1149.0,0.0,F
4999,Mars,False,E/332/P,TRAPPIST-1e,17.0,False,13.0,0.0,565.0,367.0,1.0,E
5755,Earth,True,G/992/S,TRAPPIST-1e,26.0,False,0.0,0.0,0.0,0.0,0.0,G
...,...,...,...,...,...,...,...,...,...,...,...,...
6518,Mars,False,E/438/P,TRAPPIST-1e,53.0,False,0.0,0.0,0.0,0.0,0.0,E
4317,Earth,False,F/945/P,55 Cancri e,36.0,False,0.0,0.0,0.0,725.0,2.0,F
2214,Europa,False,D/81/S,TRAPPIST-1e,36.0,False,0.0,4756.0,0.0,7818.0,96.0,D
3468,Europa,False,D/118/S,TRAPPIST-1e,34.0,True,0.0,4.0,0.0,685.0,1779.0,D
3642,Europa,False,D/128/S,TRAPPIST-1e,14.0,False,2.0,881.0,0.0,578.0,214.0,D